.container-fluid {
    width: 90%;
    height: 50em;
    padding-top: 3em;
}

/* -----Basic Card setup----- */
md-card {
    padding: .5em;
    margin-bottom: 2em;
}

.left md-card {
    min-height: 15em;
}

.left {
    margin-right: 2em;
}

md-card md-card-header {
    margin-bottom: 0;
    border-bottom: 2px solid #E6E9ED;
    font-size: 1.4em;
    color:#73879C;
}

md-card-content {
    padding: .5em;
}

.my-grid {
    width: 30%;
}

.my-grid:first-of-type {
    margin-right: 1em;
}

.my-grid-stack {
    width: 80%;
}

/*--- Opening Hours -----*/

li  {
    margin-bottom: .5em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    color: #73879C;
    padding: .5em;
    font-size: 1.2em;
}

li .day {
    text-align: left;
    font-weight: bold;
}

.red {
    border-left: 5px solid var(--color-red);
}

.blue {
    border-left: 5px solid var(--color-blue);
}

.light {
    border-left: 5px solid var(--color-light);
}

.green {
    border-left: 5px solid var(--color-green);
}

.purple {
    border-left: 5px solid var(--color-purple);
}

.gray {
    border-left: 5px solid var(--color-gray);
}

.dark {
    border-left: 5px solid var(--color-dark);
}

/*--- Address ----*/



.address span {
    display: block;
    font-size: 1.2em;
    color: #73879C;
    line-height: 1.8em;
}

.address span>span {
    font-size: .9em;
}

.address span:first-child {
    display: inline-block;
}

/*--- Contact Info ----*/




