@import 'src/client/css/variables';

.container {
    width: 90%;
    height: auto;
    padding-top: 3em;
}

/* -----Basic Card setup----- */
md-card {
    padding: .5em;
    margin-bottom: 2em;
}



md-card md-card-header {
    margin-bottom: 0;
    border-bottom: 2px solid #E6E9ED;
    font-size: 1.4em;
    color:#73879C;
}

md-card-content {
    padding: .5em;
}


/*--- Opening Hours -----*/

li  {
    position: relative;
    margin-bottom: .5em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    color: #73879C;
    padding: .5em;
    font-size: 1.2em;
}


.red {
    border-left: 5px solid $color-red;
}

.blue {
    border-left: 5px solid $color-blue;
}

.light {
    border-left: 5px solid $color-light;
}

.green {
    border-left: 5px solid $color-green;
}

.purple {
    border-left: 5px solid $color-purple;
}

.gray {
    border-left: 5px solid $color-gray;
}

.dark {
    border-left: 5px solid $color-dark;
}

/*--- Address ----*/



.address span {
    display: block;
    font-size: 1.2em;
    color: #73879C;
    line-height: 1.8em;
}

.address span>span {
    font-size: .9em;
}

.address span:first-child {
    display: inline-block;
}

/*--- Contact Info ----*/


/*--- edit button -- */

.container > button {
    color: white;
    height: 2.5em;
    vertical-align: top;
    font-weight: 600;
    font-size: .9em;
    background-color: $normal-color;
    margin-top: 1em;
    margin-bottom: 3em;
}

.container > button i {
    margin-right: .5em;
}

.time1.closed {
    color: #d9534f;
}

@media only screen and (max-width: 780px) {
    .container {
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }

    li  {
        font-size: .9em;
        position: relative;
    }

    li >div div  {
        display: inline-block;
    }

    li > div div:last-child  {
        position: absolute;
        right: 1em;
    }

    .address span {
        font-size: .9em;
    }

    .address span>span {
        font-size: .8em;
    }
}



