.full-container {
   background-color: #F7F7F7; 
}

.router-container{
    padding-top: 5em;
    margin-left: 230px;
    min-height: 100vh;
    background-color: #F7F7F7;
}


.full-container .static-container {
    width: 100%;
    background-color: #F7F7F7;
    z-index: 2000;
}

/*-- responsive ---*/

@media only screen and (max-width: 980px) {
    .router-container {
        margin-left: 80px;
    }
}