<div *ngIf="restaurant" class="row">
    <div class="col-md-6">
        <div class="menu-table">
            <md-card>
                <md-card-header>
                    Latest Menu Items
                </md-card-header>
                <md-card-content>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>no of allergens</th>
                            <th>type</th>
                        </tr>
                        <tr *ngFor="let rest of restaurant.menu">
                            <td data-th="Name">{{rest.name}}</td>
                            <td data-th="no of allergens">{{rest.allergens.length}}</td>
                            <td data-th="type">{{rest.menu}}</td>
                        </tr>
                    </table>.
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div *ngIf="starters" class="col-md-6">
        <div class="row menu-type-group">
            <div class="col-md-4">
                <div class="menu-type">
                    <md-card>
                        {{starters[0]}}
                    </md-card>
                </div>
            </div>
            <div class="col-md-4">
                <div class="menu-type">
                    <md-card>
                        {{starters[1]}}
                    </md-card>
                </div>
            </div>
            <div class="col-md-4">
                <div class="menu-type">
                    <md-card>
                        {{starters[2]}}
                    </md-card>
                </div>
            </div>
            <div class="allergens-list">
                <div *ngIf="allergens" class="col-md-12">
                    <md-card *ngFor="let all of allergens">
                        {{all}}
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>