<div @flyInOut="'in'" *ngIf="restaurant" class="row">
    <div class="col-md-12">
        <div class="menu-table">
            <md-card>
                <md-card-header>
                    Latest Menu Items
                </md-card-header>
                <md-card-content>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>no of allergens</th>
                            <th>type</th>
                        </tr>
                        <tr *ngFor="let rest of restaurant.menu">
                            <td data-th="Name">{{rest.name}}</td>
                            <td data-th="Allergens">{{rest.allergens}}</td>
                            <td data-th="Type">{{rest.menu}}</td>
                        </tr>
                    </table>.
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>