
.custom-container {
  height: 100vh;
}

.color-coating {
  display: block;
  height: 100vh;
  padding-right: 30em;
}

.color-coating img {
  height: 30em;
  width: auto;
  float: right;
}

.color-coating p {
  padding-top: 15em;
  padding-left: 5em;
  font-size: 2em;
  line-height: 2;
  color: var(--dark-color);
}

