<div class="form-container">
    <form *ngIf="formActive"  [formGroup]= "restaurantForm" (ngSubmit)="onSubmit()" >
        <h1>Restaurant Profile</h1>
        <label for="name"> <i class="fa fa-asterisk"></i> Name</label>
        <input type="text=" formControlName="name">
        <div *ngIf="showFull" class="location" formGroupName='location' >
            <h2>Address</h2>
            <div class="form-group">
                <label for="address1"><i class="fa fa-asterisk"></i>Address Line 1</label>
                <input type="text" formControlName="address1" value="">
            </div>
            <div class="form-group">
                <label for="address2">Address Line 2</label>
                <input type="text" formControlName="address2" value="">
            </div>
            <div class="form-group">
                <label for="postcode"><i class="fa fa-asterisk"></i>Postcode</label>
                <input type="text" formControlName="postcode" value="">
            </div>
            <div class="form-group">
                <label for="city"><i class="fa fa-asterisk"></i>City</label>
                <input type="text" formControlName="city" value="">
            </div>
        </div>
        <div *ngIf="showFull" class="opening" formGroupName="opening" >
            <h2>Opening and Closing Hours</h2>
            <!--formGroup Monday starts-->
            <div *ngFor="let day of section"  formGroupName="{{day}}" class="form-level">
                <label for="day">{{day.substr(0,1).toUpperCase() + day.slice(1)}}</label>
                <div class="open-times">
                    <h3>Opening</h3>
                    <div class="form-group">
                        <input list="openHour" formControlName="openHour">
                        <datalist id="openHour">
                            <option *ngFor="let h of timesHour" [value]='h'>{{h}}</option>
                        </datalist>
                        <span>:</span>
                        <input list="openMin" formControlName="openMin">
                        <datalist id="openMin">
                            <option *ngFor="let m of timesMin" [value]='m'>{{m}}</option>
                        </datalist>
                    </div> 
                </div>
                <div class="close-times">
                    <h3>Closing</h3>
                    <div class="form-group">
                        <input list="closeHour" formControlName="closeHour">
                        <datalist id="closeHour">
                            <option *ngFor="let h of timesHour" [value]='h'>{{h}}</option>
                        </datalist>
                        <span>:</span>
                        <input list="closeMin" formControlName="closeMin">
                        <datalist id="closeMin">
                            <option *ngFor="let m of timesMin" [value]='m'>{{m}}</option>
                        </datalist>
                    </div> 
                </div>
            </div>
            <!--formGroup Monday ends-->
            
        </div>
        <div class="contact" formGroupName="contact">
            <h2>Contact Information</h2>
            <div class="form-group">
                <label for="email"><i class="fa fa-asterisk"></i>Email</label>
                <input type="text" formControlName="email">
            </div>
            <div class="form-group">
                <label for="phone"><i class="fa fa-asterisk"></i>Phone</label>
                <input type="text" formControlName="phone">
            </div>
        </div>
        <div class="button">
            <button type="submit" [disabled]="!restaurantForm.valid" md-raised-button>Save</button>
        </div>
    </form>
</div>