<div  *ngIf="users"  class="custom-container">
    <md-card>
        <md-card-title>
            <h2>Invalidated Users</h2>
        </md-card-title>
        <md-card-content>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Restaurant Name</th>
                        <th>Email</th>
                        <th>Phone number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of users | paginate: { itemsPerPage: 10, 
                                                               currentPage: pageNumber
                                                               }" >
                        <td><md-checkbox [checked]="validateChecked(item)" (change)="updateChecked(item, $event)" ></md-checkbox></td>
                        <td>{{item.username}}</td>
                        <td>{{item.restaurant? item.restaurant.name : 'No restaurant registered'}}</td>
                        <td>{{item.restaurant? item.restaurant.contact.email : 'No restaurant registered'}}</td>
                        <td>{{item.restaurant? item.restaurant.contact.phone : 'No restaurant registered'}}</td>
                    </tr>
                </tbody>
            </table>
        </md-card-content>
        <md-card-footer>
            <div class="pagination-container">
                <pagination-controls #pagination (pageChange)="pageChanged($event)" >
                    <div class="custom-pagination">
                        <div class="pagination-previous" [class.disabled]="pagination.isFirstPage()" >
                            <a  (click)="pagination.isFirstPage()? null : pagination.previous()"> <i class="fa fa-arrow-left"></i></a>
                        </div>

                        <div class="pages" *ngFor="let page of pagination.pages" [class.current] = "pagination.getCurrent() === page.value">
                            <a (click)="pagination.setCurrent(page.value)" *ngIf="pagination.getCurrent() !== page.value">
                                <span>{{page.label}}</span>
                            </a>
                            <div *ngIf="pagination.getCurrent() === page.value">
                                <span>{{ page.label }}</span>
                            </div>
                        </div>

                        <div class="pagination-next" [class.disabled]="pagination.isLastPage()" *ngIf="pagination.directionLinks">
                            <a  (click)="pagination.isLastPage()? null : pagination.next()"> <i class="fa fa-arrow-right"></i> </a>
                        </div>
                    </div>
                </pagination-controls>
            </div>
			<button *ngIf="showDelete" type="button" (click)="validateMultiUsers()" md-raised-button><i class="fa fa-wrench"></i> Validate </button>
            <button class="delete" *ngIf="showDelete"  type="button" (click)="removeMultiUsers()" md-raised-button><i class="fa fa-trash"></i> delete all </button>      
        </md-card-footer>
    </md-card>
</div>