<md-card>
    <md-card-header>
        <h2>{{toggled? 'Fill Menu Form' : 'Select Allergens'}}</h2>
    </md-card-header>
    <md-card-content>
        <form *ngIf="formActive && toggled" [formGroup]="menuForm">
            <div class="row">
                <div class="col-md-12 form-group">
                    <div class="row">
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="menu-label">
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="text-box">
                                <input type="text" name="name" formControlName="name" value="">
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="menu-label">
                                <label for="description">Description</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="text-area">
                                <textarea name="description" rows="" cols="" formControlName="description" value=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-8">
                    <div class="options">
                        <md-radio-group formControlName="menu" (change)="updateRadio($event)">
                            <div class="row test">
                                <div class="col-xs-12 col-md-4">
                                    <div [ngClass]="validateRadio('Starter')? 'selected' : ''">
                                        <md-radio-button  value="Starter" > Starter</md-radio-button>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div [ngClass]="validateRadio('Main')? 'selected' : ''">
                                        <md-radio-button  value="Main" > Main </md-radio-button>                                            
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div [ngClass]="validateRadio('Dessert')? 'selected' : ''">
                                        <md-radio-button  value="Dessert" >Dessert</md-radio-button>                                            
                                    </div>
                                </div>
                            </div>
                        </md-radio-group>
                    </div>
                </div>
            </div>
        </form>
        <div class="checkbox" *ngIf="!toggled">
            <ul>
                <div class="row">
                    <div class="col-xs-12 col-md-4 test" *ngFor="let al of allergens">
                        <li  [ngClass]="validateChecked(al)? 'selected' : ''">
                            <md-checkbox (change)="updateChecked(al, $event)" [checked]="validateChecked(al)"></md-checkbox>
                            <label (click)="updateChecked2(al, validateChecked2(al)? false : true)" for="">{{al}}</label>
                        </li>
                       
                    </div>
                     &nbsp;
                </div>          
            </ul>
        </div>
    </md-card-content>
    <md-card-actions>
        <div class="buttons">
            <button type="button" (click)="toggle()" [disabled]="disableToggle()" >{{ toggled? 'Next' : 'Previous'}}</button>
            <button type="button" (click)="onSubmit()" [disabled]="validChecked">Save</button>
        </div>
    </md-card-actions>
</md-card>
