	
	$lighter-color: rgba(228, 254, 194, 1);
  	$light-color: rgba(202, 254, 133, 1);
  	$normal-color : rgba(111, 190, 8, 1);
  	$dark-color : rgba(78, 133, 5, 1);
  	$dark-color-transparent : rgba(78, 133, 5, 0.7);
  	$gray-white: #FCFCFC;
  	$writing-blue: #73879C;
  	$body-light: #F7F7F7;
  	$color-light: #f4f4f4;
  	$color-dark: #4b5f71;
  	$color-red: #e74c3c;
  	$color-gray: #9cc2cb;
  	$color-purple: #9b59b6;
  	$color-green: #1abb9c;
  	$color-blue: #3498db;
  	$placeholder: lightgray;