/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Color Scheme */
:root {
  --lighter-color: rgba(228, 254, 194, 1);
  --light-color: rgba(202, 254, 133, 1);
  --normal-color : rgba(111, 190, 8, 1);
  --dark-color : rgba(78, 133, 5, 1);
  --placeholder: lightgray;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:disabled {
  color: rgba(0, 0, 0, 0.87);
  cursor: not-allowed;
  background-color: var(--light-color) !important;
}

button:hover {
  background-color: #28739e;
}

a {
  font-weight: bold;
    text-decoration: none;
    color: #1888A8;
    -webkit-transition: color 100ms ease;
    -moz-transition: color 100ms ease;
    transition: color 100ms ease;
}

a:hover {
  color: #11718C;
}
