@import "variables";

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Color Scheme */

.row {
    margin-left: 0;
    margin-right: 0;
}

[class^= 'col-'],
[class*= 'col-'] {
    padding-left: 0;
    padding-right: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*-- checkbox settings ---*/
.md-checkbox-frame {
    background-color: $body-light !important;
}

.md-radio-outer-circle {
    background-color: $body-light !important;
    border-color: $dark-color !important;
}
.md-radio-focused .md-ink-ripple {
  opacity: 0 !important;
}

.md-radio-inner-circle {
    background-color: $dark-color !important;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

li {
  font-weight: 400;
  margin-top: 0;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:disabled {
  color: rgba(0, 0, 0, 0.87);
  cursor: not-allowed;
  background-color: lightgray !important;
}

button:hover {
  background-color: #28739e;
}

a {
  font-weight: bold;
    text-decoration: none;
    color: #1888A8;
    -webkit-transition: color 100ms ease;
    -moz-transition: color 100ms ease;
    transition: color 100ms ease;
}

a:hover {
  color: #11718C;
}


i.home {
  color: $normal-color;
  font-size: 4em;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);

}

@media only screen and (max-width: 780px) {
  .row {
    display: block;
  }
}
