/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Color Scheme */
:root {
  --lighter-color: rgba(228, 254, 194, 1);
  --light-color: rgba(202, 254, 133, 1);
  --normal-color : rgba(111, 190, 8, 1);
  --dark-color : rgba(78, 133, 5, 1);
  --dark-color-transparent : rgba(78, 133, 5, 0.7);
  --gray-white: #FCFCFC;
  --writing-blue: #73879C;
  --body-light: #F7F7F7;
  --color-light: #f4f4f4;
  --color-dark: #4b5f71;
  --color-red: #e74c3c;
  --color-gray: #9cc2cb;
  --color-purple: #9b59b6;
  --color-green: #1abb9c;
  --color-blue: #3498db;

  --placeholder: lightgray;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

[class^= 'col-'],
[class*= 'col-'] {
    padding-left: 0;
    padding-right: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*-- checkbox settings ---*/
.md-checkbox-frame {
    background-color: var(--body-light) !important;
}

.md-radio-outer-circle {
    background-color: var(--body-light) !important;
    border-color: var(--dark-color) !important;
}
.md-radio-focused .md-ink-ripple {
  opacity: 0 !important;
}

.md-radio-inner-circle {
    background-color: var(--dark-color) !important;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

li {
  font-weight: 400;
  margin-top: 0;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:disabled {
  color: rgba(0, 0, 0, 0.87);
  cursor: not-allowed;
  background-color: lightgray !important;
}

button:hover {
  background-color: #28739e;
}

a {
  font-weight: bold;
    text-decoration: none;
    color: #1888A8;
    -webkit-transition: color 100ms ease;
    -moz-transition: color 100ms ease;
    transition: color 100ms ease;
}

a:hover {
  color: #11718C;
}
